<!-- <app-book-list (bookClicked)="handleBookClicked($event)" [(title)]="title"></app-book-list> -->
<nav>
  <ul>
    <li routerLink='books'>
      <fa-icon icon="book-open"></fa-icon>
      {{'GLOBAL.BOOKS' | translate}}
    </li>
    <li routerLink='admin'>
      <fa-icon icon="user-lock"></fa-icon>
      {{'GLOBAL.ADMIN' | translate}}
    </li>
    <li (click)="changeLang('en')">
      <fa-icon *ngIf="currentLang === 'en'" icon="check"></fa-icon>
      {{'GLOBAL.ENGLISH' | translate}}
    </li>
    <li (click)="changeLang('fr')">
      <fa-icon *ngIf="currentLang === 'fr'" icon="check"></fa-icon>
      {{'GLOBAL.FRENCH' | translate}}
    </li>
    <li *ngIf="connectedUser" (click)="disconnect()">
      {{'GLOBAL.DISCONNECT' | translate}}
      <fa-icon icon="user"></fa-icon>
          {{connectedUser.name}}
    </li>
  </ul>
</nav>
<router-outlet></router-outlet>
